/.metadata/
/mkl05/
/Test_MK20DX256M7/
/xxx/
/tryMK20/
/tryMK20b/
/bdm_kinetis_new/
/SMT_OvenNew/
/Test_USB_Bulk/
/Test_USB_CDC/
/Test_USB_Composite/
/.recommenders/
/TestMK20DX256M7/
/Test_MK22FN_DIP/
/bdm_kinetis_mk20/
/frdlkl26/
/mkl26/
/StateMachine/
/bdm_kinetis/
/frdm_k22F/
/bdm_kinetis_mk22f_ref/
/RemoteSystemsTempFiles/
/testFormatter/
/bdm_kinetis_mk22f2_ref/
/bdm_kinetis_mk22f (another copy)/
/bdm_kinetis_mk22f (copy)/
/delme/
/Kinetis-FTFA-MK-flash-program-gcc/
/tryspi/
/Kinetis-FTFA-MKL-flash-program-gcc/
/Kinetis-FTFA-MKM-flash-program-gcc/
/Kinetis-FTFA-MKV10-flash-program-gcc/
/Kinetis-FTFE-MK-flash-program-gcc/
/Kinetis-FTFE-MKE-flash-program-gcc/
/Kinetis-FTFE-MKE18-flash-program-gcc/
/Kinetis-FTFL-MK-flash-program-gcc/
/test_mk22f/
