/.metadata/
/bdm_kinetis_new/
/SMT_OvenNew/
/frdm_k22F/
/RemoteSystemsTempFiles/
/Kinetis-FTFA-MK-flash-program-gcc/
/Kinetis-FTFA-MKL-flash-program-gcc/
/Kinetis-FTFA-MKM-flash-program-gcc/
/Kinetis-FTFA-MKV10-flash-program-gcc/
/Kinetis-FTFE-MK-flash-program-gcc/
/Kinetis-FTFE-MKE-flash-program-gcc/
/Kinetis-FTFE-MKE18-flash-program-gcc/
/Kinetis-FTFL-MK-flash-program-gcc/
/Bootloader_MK22F (copy)/

/bdm_kinetis_mk22f (copy)/
/Bootloader_MK22F/
/mk20d7/
/try/
/tryspi/
